body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  /* font-weight: 700; */
  /* font-style: italic; */
}
h3 {
  text-decoration: underline;
}
h4,
h5 {
  /* text-decoration: underline; */
  text-transform: uppercase;
}
/* Navbar */
.nav {
  margin-right: 50px;
  text-transform: uppercase;
}
.nav {
  cursor: pointer !important;
}
.nav:hover {
  text-decoration: underline !important;
  animation: 1s fadeInOut;
}
#navbrand {
  font-size: 1.5rem;
  cursor: pointer !important;
}
.Navbar {
  /* font-family: 'Chivo', sans-serif; */
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .ml-auto {
    background: rgba(0, 0, 0, 0.6) !important;
  }
  .nav-item {
    margin: 0 auto !important;
    padding: 20px 0;
    color: #fff;
  }
  .nav {
    margin-right: 0 !important;
  }
}
/* Home section */
#opener {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}

/* Order section */
.OrderInfo {
  height: auto;
  /* background: rgba(255, 10, 10, 0.308); */
  background: #fff;
}
#order-body {
  padding: 24px 0;
}

#deliver-body {
  padding: 0 24px;
}
#deliver-body h6 {
  text-decoration: underline;
  padding-top: 12px;
}
#deliver-body p {
  font-size: 0.85rem;
}

/* Menu section */
.Menu {
  /* background: #fab905; */
  background: #000;
  color: #fff;
  height: auto;
  /* background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}
#menu-body {
  padding: 24px 0;
}
#menu-body h5 {
  padding: 21px 0;
}

/* About section */
.About {
  /* margin-top: 30px; */
  padding: 12px 0;
  background: rgba(255, 10, 10, 0.308);
  /* width: 600px; */
}
#about-body {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Gallery section */
.gallery-img {
  padding: 0px 0px !important;
}
/* Footer */
.Footer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  height: auto;
  background-color: black;
  color: #fff;
  /* opacity: 0.6; */
  /* position: fixed; */
  /* bottom: 0;
  left: 0; */
  width: 100%;
  border-top: solid 1px rgba(255, 10, 10, 0.308);
  padding: 12px 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Parallax scroll */
.para {
  background-image: url('./Vegas Roll.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  animation: 5s fadeInOut;
}

.para2 {
  background-image: url('./Masago Sushi.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.para3 {
  background-image: url("./Sushi Lover's Combo.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* bootstrap edits */
.btn-outline-info {
  /* color: #000 !important; */
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
  transition: all 0.7s ease-in-out;
  margin-top: 7px !important;
}
.btn-outline-info:hover {
  /* color: #fff !important;
  background-color: #000 !important; */
  color: #000 !important;
  background-color: #fff !important;
}
/* icons */
.fab {
  color: #fff !important;
  padding: 16px 7px 0 7px;
}
/* animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
