body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  /* font-weight: 700; */
  font-style: italic;
}

h4,
h5 {
  text-decoration: underline;
}
/* Navbar */
.nav {
  margin-right: 50px;
  cursor: pointer;
}
.nav:hover {
  text-decoration: underline !important;
  animation: 2s slideInFromLeft;
}
#navbrand {
  font-size: 1.5rem;
}
.Navbar {
  /* font-family: 'Chivo', sans-serif; */
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 5;
}
/* Home section */
#opener {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}

/* Order section */
.OrderInfo {
  height: auto;
  background: rgba(255, 10, 10, 0.308);
}
#order-body {
  padding: 24px 0;
}

#deliver-body {
  padding: 24px 0;
}
/* Menu section */
.Menu {
  /* background: #fab905; */
  background: #000;
  color: #fff;
  height: auto;
  /* background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}
#menu-body {
  padding: 24px 0;
}
/* About section */
.About {
  /* margin-top: 30px; */
  padding: 12px 0;
  background: rgba(255, 10, 10, 0.308);
  /* width: 600px; */
}
#about-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */
.Footer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  height: auto;
  background-color: black;
  color: #fff;
  /* opacity: 0.6; */
  /* position: fixed; */
  /* bottom: 0;
  left: 0; */
  width: 100%;
  border-top: solid 1px rgba(255, 10, 10, 0.308);
  padding: 12px 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Parallax scroll */
.para {
  background-image: url('./handroll.jpg');
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  animation: 5s slideInFromLeft;
}

.para2 {
  background-image: url('./Masago Sushi.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.para3 {
  background: url('./Vocano Roll.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* bootstrap edits */
.btn-outline-info {
  color: #000 !important;
  border-color: #000 !important;
  transition: all 0.5s ease-in-out;
}
.btn-outline-info:hover {
  color: #fff !important;
  background-color: #000 !important;
}
/* icons */
.fab {
  color: #fff !important;
  padding: 4px 7px;
}
/* animation */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
